name: Security Scan

on: [push, pull_request]

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -f Dockerfile.secure2 -t app:${{ github.sha }} .

      - name: Run Trivy
        # Correction du nom ici : trivy-action au lieu de security-scanner
        uses: aquasecurity/trivy-action@0.28.0 
        with:
          image-ref: 'app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'